@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-VariableFont.ttf') format('truetype');
  font-weight: 100 900; /* 可調整範圍 */
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Italic-VariableFont.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
  font-display: swap;
}
body { margin: 0; background: #f8fafc; color: #222; }